.container-clock{
  width: 30%;
  text-align: center;
  margin: 30vh 35%;
}

.clock{
  height: 40px;
  text-align: center;
  border:blue 3px solid;
  border-radius: 15px;
  background-color: black;
}

.time{
  color: rgb(9, 20, 180);
  font-size: larger;
}